  @import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Mooli&display=swap');

body {
    /* background: #42445A; */
    background: #0d1e3a;
    padding: 20px;
    color: white;
    text-align: center;
    font-family: Mooli, sans-serif;
    font-size: 16px;
}

h1 {
  font-size: 20px;
  margin: 3px;
  padding: 2px;
  font-weight: bold;
  border-radius: 20px;
  background-color: purple;
}

h4 {
font-family: 'Great Vibes', cursive;
font-size: 40px;
font-weight: lighter;
color: lightblue;
}

#last {
  font-family: 'Great Vibes', cursive;
  font-weight: lighter;
  font-size: 25px;
}

#contacts {
  font-size: small;
}

#quote {
  margin: 5px;
  padding: 5px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  background-color: purple;
}

#quote:hover {
  color: lightblue;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  border: lightblue;
}

a {
  text-decoration: none;
  
}

.profile-img {
  width: 75%;
  border-radius: 50%;
}

.btn {
  display: block;
  color: black;
  padding: 10px;
  margin: 10px;
  background-color: white;
  box-shadow: 10px 10px lightblue;
}

footer {
  
  background-color: lightblue;
  padding: 5px;
  font-size: small;
  margin-top: 5px;
  color: #0d1e3a
  
}